.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 20px;
}

.innerContainer {
    max-width: 1440px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    height: 100%;
}


