* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.active {
    color: var(--primary-blue) !important;
}

.active .block {
    opacity: 1;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 20px;
}

.innerContainer {
    max-width: 1440px;
    margin: 0 auto;
}

.heading{
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
}

.title{
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
}
.title span{
    font-weight: 300;
    line-height: 28px;
}


.paragraph{
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}
.paragraph2{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.index-bg-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 880px;
    width: 100%;
}

.cusbuttons {
    background-color: var(--primary-white);
    border: 1px solid var(--primary-dark-blue);
    box-shadow: var(--custom-shadow01) var(--primary-dark-blue);
}

.cusbuttons:hover,
.cus-blue-buttons:hover {
    box-shadow: var(--hover-shadow01) var(--primary-dark-blue);
    transform: translateY(-1px);
}

.cus-blue-buttons {
    background-color: var(--primary-blue);
    color: var(--primary-white);
    border: 1px solid var(--primary-dark-blue);
    box-shadow: var(--custom-shadow01) var(--primary-dark-blue);
}

/* Default checkbox style */
.roundedCheckbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    border: 1px solid var(--secondary-grey-02);
    border-radius: 50%;
    background-color: var(--primary-white);
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* .roundedCheckbox:hover {
    background-color: #e6f0ff; 
    border-color: var(--primary-blue); 
} */

.roundedCheckbox:checked {
    background-color: var(--primary-blue); 
    border-color: var(--primary-blue);
    position: relative;
}

.roundedCheckbox:checked::after {
    content: '✔';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    color: var(--primary-white); 
}

.checkboxContainer.active{
    background-color: var(--primary-white);
    border-radius: 16px 0px 0px 16px;
    position: relative;
}

.checkboxContainer.active::after{
    content: '';
    position: absolute;
    border-left: 2px solid var(--primary-blue);
    height: 40px;
}

.checkboxContainer .roundedCheckbox:checked + .svg{
    background-color: var(--secondary-light-blue-02);
    border: none;
}

.checkboxContainer .roundedCheckbox:checked + .svg svg {
    fill: var(--primary-blue) !important; 
}


.checkboxContainer .svg{
    border: 1px solid var(--territory-grey-outline);
    width: 48px;
    height: 48px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkboxContainer .svg svg {
    fill: var(--secondary-grey-02);
    width: 24px;
    height: 24px;
}

/* .checkboxContainer:hover svg {
    fill: var(--primary-blue); 
} */



/* Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {

    .index-bg-img {
        height: 600px;
    }

}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) and (max-width: 767.98px) {
    .index-bg-img {
        height: 650px;
    }

}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .index-bg-img {
        height: 650px;
    }

}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width: 1199.98px) {

    .index-bg-img {
        height: 700px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) and (max-width: 1375px) {

    .index-bg-img {
        height: 700px;
    }
}

@media screen and (min-width: 1376px) and (max-width: 1599.98px) {

    .index-bg-img {
        height: 750px;
    }

}

/* Extra extra large devices (ultra-wide screens, 1600px and up) */
@media screen and (min-width: 1920px) {
    .index-bg-img {
        background-size: contain;
    }
}